lib/cspice.a filter=lfs diff=lfs merge=lfs -text
lib/libJNISpice.jnilib filter=lfs diff=lfs merge=lfs -text
lib/JNISpice.dll filter=lfs diff=lfs merge=lfs -text
lib/libJNISpice.so filter=lfs diff=lfs merge=lfs -text
src/test/resources/gov/nasa/jpl/kernels/* filter=lfs diff=lfs merge=lfs -text
